@import '_func';

.company-header {
  background: linear-gradient(270deg, #FFFFFF 30%, #FFFFFF00 100%), url(../img/access/access-bg.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.top-header {
  margin-top: 50px;

  .display-flex {
    gap: 20px;
    align-items: center;

    .left {
      width: 50%;

      @include mq('sp') {
        width: 100%;
      }

      p {
        font-size: 14px;
        color: #777;
        line-height: 2;
      }
    }

    .right {
      width: 50%;

      @include mq('sp') {
        width: 100%;
      }

      iframe {
        height: 300px;

        @include mq('sp') {
          width: 100%;
        }
      }
    }
  }
}

.menu-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;

  a {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
}

.logo {
  text-align: center;

  img {
    width: 300px;
  }
}