@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-weight: 600;
  line-height: 1;
  font-family: "Raleway", sans-serif;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 16px;
}

input[type=button],
input[type=text],
input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th,
td {
  border-collapse: collapse;
}

table th,
table td {
  white-space: nowrap;
}

ul,
ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

body {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../img/bg-logo.png);
  background-size: auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 475px) {
  body {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/bg-logo.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.none {
  opacity: 0;
  pointer-events: none;
}

.common-body-class {
  background: #fff;
}

.sns {
  background: #fff;
}

.display-flex {
  display: flex;
}
@media (max-width: 475px) {
  .display-flex {
    display: grid;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 475px) {
  .container {
    padding: 10px;
  }
}

.m-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 475px) {
  .m-container {
    padding: 10px;
  }
}

@media (max-width: 475px) {
  .sub-commmon-body-class .head {
    padding: 20px;
  }
}

.common-title {
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 80px;
  font-weight: 600px;
  border-radius: 15px;
  text-align: center;
}

.b-btn {
  border-radius: 10px;
  padding: 15px 50px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  margin: 0 auto;
  display: table;
}
.b-btn:hover {
  background: #000;
  color: #fff;
}

.content-h2 {
  text-align: center;
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 80px;
  font-weight: 600px;
  border-radius: 15px;
}
@media (max-width: 475px) {
  .content-h2 {
    font-size: 32px;
  }
}

.change-color {
  background: #FCFCFC;
  border-bottom: 1px solid #e9e9e9;
}

header {
  position: fixed;
  padding: 0 25px;
  width: -webkit-fill-available;
  z-index: 99;
  transition: 0.2s;
  /*　ハンバーガーボタン */
}
@media (max-width: 475px) {
  header {
    padding: 10px 20px;
  }
}
header .display-flex {
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 475px) {
  header .display-flex {
    display: flex;
  }
}
header .display-flex .left img {
  mix-blend-mode: unset;
  width: 100px;
}
@media (max-width: 475px) {
  header .display-flex .left img {
    width: 75px;
  }
}
header .display-flex .right {
  display: flex;
  align-items: center;
}
header .display-flex .right .main-navigation {
  margin-right: 120px;
  transition: 0.4s;
}
header .display-flex .right .main-navigation ul {
  display: flex;
  gap: 40px;
}
header .display-flex .right .main-navigation ul a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  transition: 0s;
  position: relative;
}
@media (min-width: 981px) {
  header .display-flex .right .main-navigation ul a::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    position: absolute;
    bottom: -10px;
    transform: scale(0, 1);
    transition: 0.3s;
  }
  header .display-flex .right .main-navigation ul a:hover {
    color: #000;
  }
  header .display-flex .right .main-navigation ul a:hover::after {
    transform: scale(1, 1);
  }
}
header .display-flex .right .main-navigation ul .menu-item-has-children {
  position: relative;
}
header .display-flex .right .main-navigation ul .menu-item-has-children::after {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 3px;
  right: -15px;
  position: absolute;
}
header .display-flex .right .main-navigation ul .menu-item-has-children ul {
  visibility: hidden;
  display: block;
  position: absolute;
  top: 20px;
  width: 150px;
  padding-top: 20px;
  background: #fff;
}
@media (max-width: 475px) {
  header .display-flex .right .main-navigation ul .menu-item-has-children ul {
    padding-top: 0;
    width: 50%;
  }
}
header .display-flex .right .main-navigation ul .menu-item-has-children ul a::after {
  content: none;
}
header .display-flex .right .main-navigation ul .menu-item-has-children ul a:hover {
  color: initial;
}
header .display-flex .right .main-navigation ul .menu-item-has-children:hover > ul {
  visibility: visible;
}
header .display-flex .right .main-navigation ul .menu-item-has-children:hover > ul li {
  padding: 10px;
  border-bottom: 1px solid #E5E5E5;
  width: auto;
}
header .display-flex .right .main-navigation ul .menu-item-has-children:hover > ul li:last-child {
  border: none;
}
header .display-flex .right .main-navigation ul .menu-item-has-children:hover > ul:hover {
  display: block;
}
header .hamburger-list {
  position: relative;
  /* ナビ開いてる時のボタン */
  /* このクラスを、jQueryで付与・削除する */
}
header .hamburger-list .hamburger {
  display: block;
  position: absolute;
  z-index: 3;
  right: 10px;
  top: -20px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
header .hamburger-list .hamburger span {
  display: block;
  position: absolute;
  width: 25px;
  height: 1px;
  left: 4px;
  background: #000;
  transition: 0.5s all;
}
header .hamburger-list .hamburger span:nth-child(1) {
  top: 5px;
  left: 7px;
}
header .hamburger-list .hamburger span:nth-child(2) {
  top: 15px;
}
header .hamburger-list .hamburger span:nth-child(3) {
  top: 25px;
  left: 1px;
}
header .hamburger-list .hamburger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  width: 52px;
  height: 52px;
  margin: -32px 0 0 -32px;
  border-radius: 50%;
  border: 1px solid #000;
  transition: all 0.75s;
}
header .hamburger-list .hamburger:hover::after {
  transform: scale(1.3);
}
header .hamburger-list .hamburger.active span:nth-child(1) {
  top: 16px;
  left: 5px;
  width: 24px;
  background: #000;
  transform: rotate(-45deg);
}
header .hamburger-list .hamburger.active span:nth-child(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-btn17-bar02 0.8s forwards;
  animation: active-hamburger-bar02 0.8s forwards;
}
header .hamburger-list .hamburger.active span:nth-child(3) {
  top: 16px;
  left: 5px;
  width: 24px;
  background: #000;
  transform: rotate(45deg);
}
header .hamburger-list .hamburger.active::after {
  border: 1px solid #000;
  transform: scale(1);
}
@-webkit-keyframes active-hamburger-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-hamburger-bar02 {
  100% {
    height: 0;
  }
}
header .hamburger-list nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  pointer-events: none;
}
header .hamburger-list nav.globalMenuSp .humberger-flex {
  display: flex;
  height: 100%;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-left {
  width: 30%;
  background: rgba(0, 0, 0, 0.7);
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right {
  width: 70%;
  background: #fff;
  padding-top: 150px;
  overflow-y: scroll;
}
@media (max-width: 475px) {
  header .hamburger-list nav.globalMenuSp .humberger-flex-right {
    padding-top: 100px;
  }
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list {
  display: flex;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 475px) {
  header .hamburger-list nav.globalMenuSp .humberger-flex-right_list {
    display: grid;
    gap: 30px;
  }
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: grid;
}
@media (max-width: 475px) {
  header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap {
    gap: 30px;
  }
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: 0.4s all;
  margin: 0 0 30px;
}
@media (max-width: 475px) {
  header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap li {
    margin-bottom: 0;
  }
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap li a {
  color: #000;
  font-size: 32px;
  font-weight: 900;
  display: block;
  text-decoration: none;
  line-height: 1;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap li a .under-line {
  display: inline-block;
  background-image: linear-gradient(#000, #000);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition: background-size 0.5s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;
  padding-bottom: 5px;
  margin-bottom: -10px;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap li a .under-line:hover {
  background-position: 0 100%;
  background-size: 100% 1px;
}
@media (max-width: 475px) {
  header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap li a {
    font-size: 24px;
    margin: 0;
  }
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap li a .small {
  font-size: 13px;
  font-weight: 400;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap .works-loop {
  display: grid;
  gap: 20px;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap .works-loop a {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: #000;
  font-weight: 400;
  display: inline-block;
  background-image: linear-gradient(#000, #000);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition: background-size 0.5s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap .works-loop a:hover {
  background-position: 0 100%;
  background-size: 100% 1px;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap .works-loop a:last-child {
  margin-bottom: 0;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap .works-loop a li {
  list-style-type: auto;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap .works-loop a li h2 {
  font-size: 18px;
  line-height: 1.5;
}
@media (max-width: 475px) {
  header .hamburger-list nav.globalMenuSp .humberger-flex-right_list .list-wrap .works-loop a li h2 {
    font-size: 14px;
  }
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right .humberger-flex-bottom {
  width: 80%;
  margin: 50px auto 45px;
}
@media (max-width: 475px) {
  header .hamburger-list nav.globalMenuSp .humberger-flex-right .humberger-flex-bottom {
    width: 80%;
    margin-bottom: 50px;
  }
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right .humberger-flex-bottom_txt {
  display: flex;
  gap: 30px;
}
@media (max-width: 475px) {
  header .hamburger-list nav.globalMenuSp .humberger-flex-right .humberger-flex-bottom_txt {
    display: grid;
    gap: 10px;
  }
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right .humberger-flex-bottom_txt a {
  color: #333;
  font-size: 12px;
  text-decoration: underline;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right .humberger-flex-bottom hr {
  margin: 40px 0 20px;
}
header .hamburger-list nav.globalMenuSp .humberger-flex-right .humberger-flex-bottom .copyright {
  font-size: 12px;
}
header .hamburger-list nav.globalMenuSp.active {
  opacity: 100;
  pointer-events: initial;
}

.common-body-class {
  padding-top: 100px;
  padding-bottom: 50px;
}
.common-body-class a {
  transition: 0.2s;
}
.common-body-class a img {
  transition: 0.2s;
}
.common-body-class a img:hover {
  opacity: 0.6;
}

.common-header {
  padding-top: 100px;
  padding: 100px 0;
  position: relative;
}
.common-header svg {
  display: block;
  width: calc(100% + 1.3px);
  position: absolute;
}
.common-header svg path {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}
.common-header .top-svg {
  top: 0;
}
.common-header .bottom-svg {
  bottom: 0;
  transform: rotate(180deg);
}
.common-header .display-flex .left {
  width: 50%;
}
.common-header .display-flex .right {
  width: 50%;
}
@media (max-width: 475px) {
  .common-header .display-flex .right {
    width: 100%;
  }
}
.common-header .display-flex .right h2 {
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 80px;
  font-weight: 600;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: 40px;
}
@media (max-width: 475px) {
  .common-header .display-flex .right h2 {
    font-size: 50px;
    margin-right: 0;
  }
}
.common-header .display-flex .right .common-sub-title {
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 15px;
  margin-right: 250px;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 475px) {
  .common-header .display-flex .right .common-sub-title {
    margin-right: 0;
  }
}

.sns {
  padding: 100px 0;
}
.sns .display-flex {
  gap: 50px;
  justify-content: center;
}
.sns .display-flex .left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sns .display-flex .left span {
  width: 100%;
}
.sns .display-flex .right {
  width: auto;
}

.onfooter {
  padding: 30px;
  background: #FCFCFC;
  border-top: 1px solid #E5E5E5;
}
.onfooter .display-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 475px) {
  .onfooter .display-flex {
    grid-template-columns: repeat(1, 1fr);
  }
}
.onfooter .display-flex .left {
  width: auto;
  padding: 20px 40px;
  border-right: 1px solid #E5E5E5;
}
@media (max-width: 475px) {
  .onfooter .display-flex .left {
    border: none;
  }
}
.onfooter .display-flex .left .display-flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 475px) {
  .onfooter .display-flex .left .display-flex {
    display: grid;
  }
}
.onfooter .display-flex .left .display-flex .on-left {
  width: 30%;
}
@media (max-width: 475px) {
  .onfooter .display-flex .left .display-flex .on-left {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 475px) {
  .onfooter .display-flex .left .display-flex .on-left img {
    width: 82.5px;
  }
}
.onfooter .display-flex .left .display-flex .on-right {
  width: 70%;
  width: 100%;
}
.onfooter .display-flex .left .display-flex .on-right h2 {
  font-size: 20px;
  color: #54595F;
  text-align: center;
}
.onfooter .display-flex .left .display-flex .on-right p {
  font-size: 13px;
  color: #777;
  text-align: center;
}
.onfooter .display-flex .left .map p {
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}
.onfooter .display-flex .left .map iframe {
  width: 100%;
}
.onfooter .display-flex .center {
  width: auto;
  padding: 20px 40px;
  border-right: 1px solid #E5E5E5;
}
@media (max-width: 475px) {
  .onfooter .display-flex .center {
    border: none;
  }
}
.onfooter .display-flex .center h2 {
  color: #54595F;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.onfooter .display-flex .center ul {
  display: grid;
  gap: 5px;
}
.onfooter .display-flex .center ul a {
  color: #000;
  text-decoration: none;
}
.onfooter .display-flex .right {
  width: auto;
  padding: 20px 40px;
}
.onfooter .display-flex .right h2 {
  color: #54595F;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.onfooter .display-flex .right p {
  color: #777;
  font-size: 14px;
}
.onfooter .display-flex .sp-footer {
  display: flex;
}
.onfooter .display-flex .sp-footer .center {
  border-right: 1px solid #E5E5E5;
  width: 50%;
  padding: 20px;
}
.onfooter .display-flex .sp-footer .right {
  width: 50%;
  padding: 20px;
}

.site-footer {
  padding: 30px 0;
  background: #000;
  color: #fff;
}
@media (max-width: 475px) {
  .site-footer .top {
    margin-bottom: 40px;
  }
}
.site-footer .top .display-flex {
  justify-content: space-around;
  margin-bottom: 20px;
}
@media (max-width: 475px) {
  .site-footer .top .display-flex {
    gap: 10px;
  }
}
.site-footer .top .display-flex a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}
@media (max-width: 475px) {
  .site-footer .top .display-flex a {
    text-align: center;
  }
}
.site-footer .bottom .display-flex {
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 475px) {
  .site-footer .bottom .display-flex {
    justify-content: center;
    gap: 40px;
  }
}
.site-footer .bottom .display-flex .left {
  width: 33%;
}
.site-footer .bottom .display-flex .left .sns-footer {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.site-footer .bottom .display-flex .left .sns-footer a {
  color: #fff;
}
.site-footer .bottom .display-flex .left .sns-footer a i {
  font-size: 36px;
}
@media (max-width: 475px) {
  .site-footer .bottom .display-flex .left {
    width: 100%;
  }
}
.site-footer .bottom .display-flex .center {
  width: 33%;
}
@media (max-width: 475px) {
  .site-footer .bottom .display-flex .center {
    width: 100%;
  }
}
.site-footer .bottom .display-flex .center p {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 475px) {
  .site-footer .bottom .display-flex .center p {
    font-size: 14px;
  }
}
.site-footer .bottom .display-flex .right {
  width: 33%;
}
@media (max-width: 475px) {
  .site-footer .bottom .display-flex .right {
    width: 100%;
  }
}

.recruit {
  position: relative;
  align-items: center;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background-image: url(../img/footer/rf-bg.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.recruit:before {
  content: "";
  background: inherit;
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
.recruit .recruit-wrapper {
  padding: 80px 0;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 475px) {
  .recruit .recruit-wrapper {
    padding: 40px 10px;
  }
}
.recruit .recruit-wrapper h2 {
  display: inline-block;
  padding-right: 54px;
  margin-bottom: 15px;
  background: url(../img/footer/download.svg) no-repeat right center/25px;
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  font-size: 48px;
}
@media (max-width: 475px) {
  .recruit .recruit-wrapper h2 {
    font-size: 32px;
    padding-right: 34px;
  }
}
.recruit .recruit-wrapper .recruit-flex {
  display: flex;
  gap: 20px;
}
@media (max-width: 475px) {
  .recruit .recruit-wrapper .recruit-flex {
    gap: 15px;
  }
}
.recruit .recruit-wrapper .recruit-flex a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 8px 24px;
  margin-top: 24px;
  transition: all ease 0.3s;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 475px) {
  .recruit .recruit-wrapper .recruit-flex a {
    font-size: 14px;
  }
}
.recruit .recruit-wrapper .recruit-flex a:hover {
  background: #fff;
  color: #000;
}

.contact-footer {
  background: #fff;
  padding: 20px 90px;
}
@media (max-width: 475px) {
  .contact-footer {
    padding: 50px 15px;
  }
}
.contact-footer .cf-flex {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 475px) {
  .contact-footer .cf-flex {
    display: grid;
    gap: 30px;
  }
}
.contact-footer .cf-flex .left h2 {
  font-size: 27px;
  margin-bottom: 5px;
}
.contact-footer .cf-flex .left h2 span {
  color: #ce002c;
}
.contact-footer .cf-flex .right a {
  background: #ce002c;
  border-radius: 5px;
  box-shadow: 0 2.5px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 100px;
  color: #fff;
  display: block;
}
@media (max-width: 475px) {
  .contact-footer .cf-flex .right a {
    text-align: center;
  }
}
.contact-footer .cf-flex .right a:hover {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.5);
}

.grecaptcha-badge {
  display: none;
}

@media (max-width: 768px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .sp {
    display: none !important;
  }
}/*# sourceMappingURL=common.css.map */