// reset
@charset "UTF-8";
@import '_func';


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-weight: 600;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 16px;
}

input[type="button"],
input[type="text"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th,
td {
  border-collapse: collapse;
}

table th,
table td {
  white-space: nowrap;
}

ul,
ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width
  /***/
  : auto;
}

a {
  text-decoration: none;
  transition: .2s;
}

body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans',
    sans-serif;
  background: linear-gradient(rgb(255 255 255 / 0%), rgb(255 255 255 / 0%)), url(../img/bg-logo.png);
  // background-image: url(../img/bg-logo.png);
  background-size: auto;
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include mq('sp') {
    background: linear-gradient(rgb(255 255 255 / 60%), rgb(255 255 255 / 60%)), url(../img/bg-logo.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.none {
  opacity: 0;
  pointer-events: none;
}

.common-body-class {
  background: #fff;
}

.sns {
  background: #fff;
}

.display-flex {
  display: flex;

  @include mq('sp') {
    display: grid;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  @include mq('sp') {
    padding: 10px;
  }

}

.m-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;

  @include mq('sp') {
    padding: 10px;
  }
}

.sub-commmon-body-class {

  .head {
    @include mq('sp') {
      padding: 20px;
    }
  }
}

.common-title {
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 80px;
  font-weight: 600px;
  border-radius: 15px;
  text-align: center;
}

.b-btn {
  border-radius: 10px;
  padding: 15px 50px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  margin: 0 auto;
  display: table;

  &:hover {
    background: #000;
    color: #fff;
  }
}

.content-h2 {
  text-align: center;
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 80px;
  font-weight: 600px;
  border-radius: 15px;

  @include mq('sp') {
    font-size: 32px;
  }
}

.change-color {
  background: #FCFCFC;
  border-bottom: 1px solid #e9e9e9;
}

header {
  position: fixed;
  padding: 0 25px;
  width: -webkit-fill-available;
  z-index: 99;
  transition: .2s;

  @include mq('sp') {
    padding: 10px 20px;
  }

  .display-flex {
    justify-content: space-between;
    align-items: center;

    @include mq('sp') {
      display: flex;
    }

    .left {
      img {
        mix-blend-mode: unset;
        width: 100px;

        @include mq('sp') {
          width: 75px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .main-navigation {
        margin-right: 120px;
        transition: .4s;

        ul {
          display: flex;
          gap: 40px;

          a {
            color: #000;
            text-decoration: none;
            font-size: 16px;
            font-weight: 300;
            transition: 0s;
            position: relative;

            @include mq('pc') {
              &::after {
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                background: #000;
                position: absolute;
                bottom: -10px;
                transform: scale(0, 1);
                transition: .3s;
              }

              &:hover {
                color: #000;

                &::after {
                  transform: scale(1, 1);
                }
              }

            }

          }

          .menu-item-has-children {
            position: relative;

            &::after {
              content: '\f0dd';
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              top: 3px;
              right: -15px;
              position: absolute;
            }

            ul {
              visibility: hidden;
              display: block;
              position: absolute;
              top: 20px;
              width: 150px;
              padding-top: 20px;
              background: #fff;

              @include mq('sp') {
                padding-top: 0;
                width: 50%;
              }

              a {
                &::after {
                  content: none;
                }

                &:hover {
                  color: initial;
                }
              }
            }

            &:hover {

              &>ul {
                visibility: visible;

                li {
                  padding: 10px;
                  border-bottom: 1px solid #E5E5E5;
                  width: auto;

                  &:last-child {
                    border: none;
                  }
                }

                &:hover {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  /*　ハンバーガーボタン */
  .hamburger-list {
    position: relative;

    .hamburger {
      display: block;
      position: absolute;
      z-index: 3;
      right: 10px;
      top: -20px;
      width: 42px;
      height: 42px;
      cursor: pointer;
      text-align: center;

      span {
        display: block;
        position: absolute;
        width: 25px;
        height: 1px;
        left: 4px;
        background: #000;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        transition: 0.5s all;

        &:nth-child(1) {
          top: 5px;
          left: 7px;
        }

        &:nth-child(2) {
          top: 15px;
        }

        &:nth-child(3) {
          top: 25px;
          left: 1px;
        }
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        content: '';
        width: 52px;
        height: 52px;
        margin: -32px 0 0 -32px;
        border-radius: 50%;
        border: 1px solid #000;
        transition: all .75s;
      }

      &:hover {
        &::after {
          transform: scale(1.3);
        }
      }
    }

    /* ナビ開いてる時のボタン */
    .hamburger.active {
      span {
        &:nth-child(1) {
          top: 16px;
          left: 5px;
          width: 24px;
          background: #000;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(2) {
          left: 60%;
          opacity: 0;
          -webkit-animation: active-btn17-bar02 .8s forwards;
          animation: active-hamburger-bar02 .8s forwards;
        }

        &:nth-child(3) {
          top: 16px;
          left: 5px;
          width: 24px;
          background: #000;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      &::after {
        border: 1px solid #000;
        transform: scale(1.0);
      }
    }

    @-webkit-keyframes active-hamburger-bar02 {
      100% {
        height: 0;
      }
    }

    @keyframes active-hamburger-bar02 {
      100% {
        height: 0;
      }
    }

    nav.globalMenuSp {
      position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
      // background: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100vh;
      opacity: 0;
      transition: opacity .6s ease, visibility .6s ease;
      pointer-events: none;

      .humberger-flex {
        display: flex;
        height: 100%;

        &-left {
          width: 30%;
          background: rgba(0, 0, 0, 0.7);
        }

        &-right {
          width: 70%;
          background: #fff;
          padding-top: 150px;
          overflow-y: scroll;

          @include mq('sp') {
            padding-top: 100px;
          }

          &_list {
            display: flex;
            gap: 50px;
            width: 80%;
            margin: 0 auto;

            @include mq('sp') {
              display: grid;
              gap: 30px;
            }

            .list-wrap {
              margin: 0 auto;
              padding: 0;
              width: 100%;
              display: grid;

              @include mq('sp') {
                gap: 30px;
              }

              li {
                list-style-type: none;
                padding: 0;
                width: 100%;
                transition: .4s all;
                margin: 0 0 30px;

                @include mq('sp') {
                  margin-bottom: 0;
                }

                &:last-child {
                  padding-bottom: 0;
                  margin-bottom: 0;
                }

                a {
                  color: #000;
                  font-size: 32px;
                  font-weight: 900;
                  display: block;
                  text-decoration: none;
                  line-height: 1;

                  .under-line {
                    display: inline-block;
                    background-image: linear-gradient(#000, #000);
                    background-position: 100% 100%;
                    background-repeat: no-repeat;
                    background-size: 0 1px;
                    transition: background-size 0.5s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;
                    padding-bottom: 5px;
                    margin-bottom: -10px;

                    &:hover {
                      background-position: 0 100%;
                      background-size: 100% 1px;
                    }
                  }

                  @include mq('sp') {
                    font-size: 24px;
                    margin: 0;
                  }

                  .small {
                    font-size: 13px;
                    font-weight: 400;
                  }

                }
              }

              .works-loop {
                display: grid;
                gap: 20px;

                a {
                  padding: 0;
                  margin: 0;
                  margin-bottom: 20px;
                  color: #000;
                  font-weight: 400;

                  display: inline-block;
                  background-image: linear-gradient(#000, #000);
                  background-position: 100% 100%;
                  background-repeat: no-repeat;
                  background-size: 0 1px;
                  transition: background-size 0.5s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;

                  &:hover {
                    background-position: 0 100%;
                    background-size: 100% 1px;
                  }

                  &:last-child {
                    margin-bottom: 0;
                  }

                  li {
                    list-style-type: auto;

                    h2 {
                      font-size: 18px;
                      line-height: 1.5;

                      @include mq('sp') {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }

          .humberger-flex-bottom {
            width: 80%;
            margin: 50px auto 45px;

            @include mq('sp') {
              width: 80%;
              margin-bottom: 50px;
            }

            &_txt {
              display: flex;
              gap: 30px;

              @include mq('sp') {
                display: grid;
                gap: 10px;
              }

              a {
                color: #333;
                font-size: 12px;
                text-decoration: underline;
              }
            }

            hr {
              margin: 40px 0 20px;
            }

            .copyright {
              font-size: 12px;
            }
          }
        }
      }
    }

    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      opacity: 100;
      pointer-events: initial;
    }
  }
}

// body
.common-body-class {
  padding-top: 100px;
  padding-bottom: 50px;

  a {
    transition: .2s;

    img {
      transition: .2s;

      &:hover {
        opacity: .6;
      }
    }
  }
}

.common-header {
  padding-top: 100px;
  padding: 100px 0;
  position: relative;

  svg {
    display: block;
    width: calc(100% + 1.3px);
    position: absolute;

    path {
      fill: #fff;
      transform-origin: center;
      transform: rotateY(0deg);
    }
  }

  .top-svg {
    top: 0;
  }

  .bottom-svg {
    bottom: 0;
    transform: rotate(180deg);
  }

  .display-flex {
    .left {
      width: 50%;
    }

    .right {
      width: 50%;

      @include mq('sp') {
        width: 100%;
      }

      h2 {
        padding: 10px;
        background: #000;
        color: #fff;
        font-size: 80px;
        font-weight: 600;
        border-radius: 15px;
        margin-bottom: 20px;
        margin-right: 40px;

        @include mq('sp') {
          font-size: 50px;
          margin-right: 0;
        }
      }

      .common-sub-title {
        padding: 10px;
        color: #fff;
        background: #000;
        border-radius: 15px;
        margin-right: 250px;
        font-size: 32px;
        font-weight: 600;

        @include mq('sp') {
          margin-right: 0;
        }
      }
    }
  }
}




// footer sns
.sns {
  padding: 100px 0;

  .display-flex {
    gap: 50px;
    justify-content: center;

    .left {
      width: fit-content;

      span {
        width: 100%;
      }
    }

    .right {
      width: auto;
    }
  }
}


// onfooter
.onfooter {
  padding: 30px;
  background: #FCFCFC;
  border-top: 1px solid #E5E5E5;

  .display-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mq('sp') {
      grid-template-columns: repeat(1, 1fr);
    }

    .left {
      width: auto;
      padding: 20px 40px;
      border-right: 1px solid #E5E5E5;

      @include mq('sp') {
        border: none;
      }

      .display-flex {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @include mq('sp') {
          display: grid;
        }

        .on-left {
          width: 30%;

          @include mq('sp') {
            width: 100%;
            text-align: center;
          }

          img {
            @include mq('sp') {
              width: 82.5px;
            }
          }

        }

        .on-right {
          width: 70%;
          width: 100%;

          h2 {
            font-size: 20px;
            color: #54595F;
            text-align: center;
          }

          p {
            font-size: 13px;
            color: #777;
            text-align: center;
          }
        }
      }

      .map {
        p {
          font-size: 12px;
          margin-bottom: 20px;
          text-align: center;
        }

        iframe {
          width: 100%;
        }
      }
    }

    .center {
      width: auto;
      padding: 20px 40px;
      border-right: 1px solid #E5E5E5;

      @include mq('sp') {
        border: none;
      }

      h2 {
        color: #54595F;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
      }

      ul {
        display: grid;
        gap: 5px;

        a {
          color: #000;
          text-decoration: none;
        }
      }
    }

    .right {
      width: auto;
      padding: 20px 40px;

      h2 {
        color: #54595F;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
      }

      p {
        color: #777;
        font-size: 14px;
      }
    }

    .sp-footer {
      display: flex;

      .center {
        border-right: 1px solid #E5E5E5;
        width: 50%;
        padding: 20px;
      }

      .right {
        width: 50%;
        padding: 20px;
      }
    }
  }
}

.site-footer {
  padding: 30px 0;
  background: #000;
  color: #fff;

  .top {
    @include mq('sp') {
      margin-bottom: 40px;
    }

    .display-flex {
      justify-content: space-around;
      margin-bottom: 20px;

      @include mq('sp') {
        gap: 10px;
      }

      a {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;

        @include mq('sp') {
          text-align: center;
        }
      }
    }
  }

  .bottom {
    .display-flex {
      justify-content: space-between;
      align-items: center;

      @include mq('sp') {
        justify-content: center;
        gap: 40px;
      }

      .left {
        width: 33%;

        .sns-footer {
          display: flex;
          gap: 20px;
          justify-content: center;

          a {
            color: #fff;

            i {
              font-size: 36px;
            }
          }
        }

        @include mq('sp') {
          width: 100%;
        }
      }

      .center {
        width: 33%;

        @include mq('sp') {
          width: 100%;
        }

        p {
          text-align: center;
          font-size: 32px;
          font-weight: 600;

          @include mq('sp') {
            font-size: 14px;
          }
        }
      }

      .right {
        width: 33%;

        @include mq('sp') {
          width: 100%;
        }
      }
    }
  }
}

// recruit footer
.recruit {
  position: relative;
  align-items: center;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background-image: url(../img/footer/rf-bg.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

  &:before {
    content: '';
    background: inherit;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }

  .recruit-wrapper {
    padding: 80px 0;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;

    @include mq('sp') {
      padding: 40px 10px;
    }

    h2 {
      display: inline-block;
      padding-right: 54px;
      margin-bottom: 15px;
      background: url(../img/footer/download.svg) no-repeat right center /25px;
      text-shadow: rgb(0 0 0 / 30%) 0 0 8px;
      font-size: 48px;

      @include mq('sp') {
        font-size: 32px;
        padding-right: 34px;
      }
    }

    .recruit-flex {
      display: flex;
      gap: 20px;

      @include mq('sp') {
        gap: 15px;
      }

      a {
        display: inline-block;
        border: 1px solid #fff;
        padding: 8px 24px;
        margin-top: 24px;
        transition: all ease .3s;
        font-weight: 700;
        color: #fff;

        @include mq('sp') {
          font-size: 14px;
        }

        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}

// contact-footer
.contact-footer {
  background: #fff;
  padding: 20px 90px;

  @include mq('sp') {
    padding: 50px 15px;
  }

  .cf-flex {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    @include mq('sp') {
      display: grid;
      gap: 30px;
    }

    .left {
      h2 {
        font-size: 27px;
        margin-bottom: 5px;

        span {
          color: #ce002c;
        }
      }
    }

    .right {
      a {
        background: #ce002c;
        border-radius: 5px;
        box-shadow: 0 2.5px 8px 0 rgb(0 0 0 / 20%);
        padding: 15px 100px;
        color: #fff;
        display: block;

        @include mq('sp') {
          text-align: center;
        }

        &:hover {
          box-shadow: 0 5px 16px 0 rgb(0 0 0 / 50%);
        }
      }
    }
  }
}

.grecaptcha-badge {
  display: none;
}

@media (max-width:768px) {
  .pc {
    display: none !important;
  }
}

@media (min-width:769px) {
  .sp {
    display: none !important;
  }
}

// // 画面遷移エフェクト
// /***アニメーション用の疑似要素***/
// body::after {
//   content: "";
//   position: fixed;
//   /*固定表示*/
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 999;
//   /*他のスタッキングコンテキストとかち合った時用*/
//   background: #000;
//   /*シャッターの色*/
//   animation: min-anim .7s forwards;
//   /*アニメーション付与*/
//   animation-delay: 0.5s;
//   /*好みで遅延*/
//   transform-origin: top;
//   /*変化の起点*/
// }

// /*背景が縮むアニメーション*/
// @keyframes min-anim {
//   0% {
//     transform: scaleY(1);
//     /*画面全体を覆う*/
//   }

//   100% {
//     transform: scaleY(0);
//     /*高さ0*/
//     visibility: hidden;
//     /*非表示*/
//   }
// }