@import '_func';

.company-header {
  background: linear-gradient(rgb(255 255 255 / 60%), rgb(255 255 255 / 60%)), url(../img/is/is-bg.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.top-header {
  margin-top: 50px;
  background: linear-gradient(rgb(255 255 255 / 90%), rgb(255 255 255 / 90%)), url(../img/company/company-logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;

  p {
    color: #777;
    font-size: 14px;

    &:first-child {
      margin-bottom: 50px;
    }
  }
}

.member-flex {
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  gap: 200px;
  justify-content: flex-end;

  @include mq('sp') {
    gap: 0;
    justify-content: space-around;
  }

  .member-box {
    text-align: center;

    img {
      border-radius: 50px;
      width: 100px;
    }

    p {
      font-size: 14px;
      color: #777;
      margin-top: 20px;
    }
  }
}