@import '_func';

.work-header {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/work-bg.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.work-container {
  margin-top: 50px;

  .work-top {
    .display-flex {
      gap: 50px;
      justify-content: center;

      .left {
        width: 30%;

        @include mq('sp') {
          width: 100%;
        }

        p {
          margin-top: 50px;
          color: #777;
          font-size: 14px;
        }
      }

      .right {

        // width: 70%;
        a {
          background: #fff;
          width: 100%;
          height: 100%;
          display: inline-block;
        }
      }
    }
  }


  .work-wrapper {
    margin-top: 50px;
    padding: 50px;

    @include mq('sp') {
      padding: 50px 20px;
    }

    h2 {
      font-size: 80px;
      font-weight: 600;
      position: relative;
      color: #fff;

      &:after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 85px;
        display: inline-block;
        width: 60px;
        height: 3px;
        background-color: #fff;
      }
    }


    .post-loop {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @include mq('sp') {
        margin-top: 0;
        grid-template-columns: repeat(1, 1fr);
      }

      li {
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
        border: 0 solid #818a91;
        transition: 0.2s;

        &:hover {
          box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%);
        }

        a {
          text-decoration: none;

          .post-loop-box {
            background: #fff;

            .h-img-wrap {
              height: 250px;
              text-align: center;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            .post-loop__date {
              padding: 20px 30px;

              h2 {
                color: #333;
                font-size: 21px;
                font-weight: 600;
                margin-bottom: 20px;
                line-height: 1.5;
              }
            }

            .loop-time {
              padding: 15px 30px;
              border-top: 1px solid #eaeaea;

              span {
                color: #adadad;
                font-size: 12px;
              }
            }
          }
        }
      }

    }

    .news-btn {
      color: #FFFFFF;
      background-color: #61CE7000;
      border-style: solid;
      border-radius: 10px;
      padding: 15px 50px;
      text-decoration: none;
      margin: 20px auto 0;
      display: table;
    }
  }
}